---
import Hero from "../components/Hero.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
import Layout from "../layouts/Layout.astro";
import HeroShowcase from "../components/HeroShowcase.astro";
import HeroVideo from "../components/HeroVideo.astro";

// Cloudinary transform helpers for hero
const rawHero =
  "https://res.cloudinary.com/didltutgq/image/upload/v1757213867/Raymar_Cleaned_fyurl7.jpg";
const heroFast = `${rawHero}?f_auto&q_auto:good&w=1600&dpr=auto`;

// Video assets
const VIDEO_MP4 =
  "https://res.cloudinary.com/didltutgq/video/upload/v1758935263/Grow_your_business_converted_gfs3h4.mp4";
const POSTER_IMG =
  "https://res.cloudinary.com/didltutgq/image/upload/v1758935253/jon_yu2ta2.png";

const images = [
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1757213867/Raymar_Cleaned_fyurl7.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Raymar</h2><p>Full home decoration project in Raymar — blending style, comfort, and timeless design.</p>',
    // Raymar
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757261610/ray_ai_enhance_jwix40.png",
        alt: "1",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757253832/IMG_2167_jkw9rk.jpg",
        alt: "2",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757253815/IMG_4848_l1ffq4.jpg",
        alt: "3",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757253811/IMG_0010_eu5bdm.jpg",
        alt: "4",
      },

      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757253782/IMG_5871_gayaze.jpg",
        alt: "5",
      },

      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757253772/IMG_1514_gbjbzb.jpg",
        alt: "7",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757253761/IMG_1156_otczw8.jpg",
        alt: "8",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757253744/IMG_1161_2_kbfo8x.jpg",
        alt: "9",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757253689/FullSizeRender_4_jgd50p.jpg",
        alt: "10",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757253774/IMG_1516_hk5lut.jpg",
        alt: "11",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757253785/FullSizeRender_2_rrr7qy.jpg",
        alt: "6",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758206542/FullSizeRender1_um2vvg.jpg",
        alt: "12",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758206539/FullSizeRender_xuxe7k.jpg",
        alt: "13",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758640791/IMG_0039_j0w0w1.jpg",
        alt: "14",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758640811/IMG_0011_g6xlkx.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758640788/IMG_0012_nnzo58.jpg",
        alt: "15",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758640789/IMG_0017_rckrzv.jpg",
        alt: "16",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758640810/IMG_0003_ao3ctd.jpg",
        alt: "",
      },
    ],
  },
  //1 hotel Toronto
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1758677955/IMG_0149_d6p4us.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">1 Hotel Toronto</h2><p> — refined, comfortable, and timeless.</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758677960/IMG_0190_kqru5o.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758677966/IMG_0110_lkqdjm.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758677967/IMG_0116_biipgc.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758677963/IMG_0114_prpxyr.jpg",
        alt: "",
      },

      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758677955/IMG_0137_lb0btz.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757782298/IMG_0138_fidbex.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757781905/IMG_0209_sve62k.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757781902/IMG_0205_ju0b1o.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757781899/IMG_0203_ada89f.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758677961/IMG_0095_jtjktp.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758212137/IMG_0107_zjolkl.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758291635/IMG_0099_lw70yu.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758212137/IMG_0107_zjolkl.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758211942/IMG_0096_svhgj7.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758211546/IMG_0175_kudbnn.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758212118/IMG_0100_yh5drq.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758212121/IMG_0102_lloih4.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758212130/IMG_0104_qw4b7v.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757781900/IMG_0204_bcacwh.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758677968/IMG_0122_evrs3f.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758677953/IMG_0126_cikblt.jpg",
        alt: "",
      },
    ],
  },

  //Lakeside
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266200/IMG_0258_lh3klw.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Lakeside Drive - Living Room</h2><p>Full home decoration project in Lakeside — blending style, comfort, and timeless design.</p>',
    // gallery: [], // add if you have more
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266207/IMG_02651_ogtyhp.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266193/IMG_0257_i6zd8y.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266220/IMG_0499_c7hyaw.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266186/IMG_0261_qvmtwf.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266166/IMG_0265_qyyryw.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266146/IMG_3413_bakunk.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266152/FullSizeRender_igz9h5.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266159/IMG_0277_w9ptzl.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266133/IMG_0021_pslscl.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266095/IMG_5947_extoyz.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266083/IMG_5655_wxbdwm.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757271737/IMG_3420_y6zn6q_a_-90_jrpfmf.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758679448/FullSizeRender_x2mraj.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758679477/FullSizeRender2_ksjdyf.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758679447/1_wvjtgk.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758679453/IMG_1835_budavq.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758679459/TY_jzhbbe.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758679475/ASDAS_nbdt5i.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266213/IMG_56661_ucnewm.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266127/IMG_0012_k4kgud.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266107/IMG_5649_tecilg.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266095/IMG_5947_extoyz.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266071/IMG_5666_m5y8pe.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757266060/IMG_0933_wxzbqx.jpg",
        alt: "",
      },
    ],
  },
  //Padella resturant
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1758223037/9_j7cect.jpg",
    alt: "Commercial",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Padella Italian Eatery</h2><p>A full Italian restaurant decoration project in Toronto, thoughtfully designed to create a welcoming and stylish dining atmosphere.</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758222995/6_uczpnk.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758222986/18_j0rch4.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291110/IMG_4151_fyuhcb.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291103/IMG_4148_plgoia.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291118/IMG_4146_hdglmf.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291081/IMG_3574_cmubkb.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758931887/IMG_3529_mi8gxx_a_-90_jdwtan.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291066/IMG_3636_mngq6n.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291059/IMG_3525_cmyhkb.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291052/IMG_3776_xozsiw.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291037/IMG_3791_hlosic.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291030/IMG_3790_jdhchc.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291024/IMG_3796_fnwacy.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291016/IMG_3798_v1rb1g.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758932036/IMG_3681_rt68el_a_-90_yba4eo.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291002/IMG_4147_vlkg8d.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291095/IMG_4150_h1ffix.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291103/IMG_4148_plgoia.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757291110/IMG_4151_fyuhcb.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758222983/16_duhgxd.jpg",
        alt: "",
      },

      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758222998/7_s9gr5f.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758223001/8_o5tqbn.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758223203/10_rximvl.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758223368/11_gverqn.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758223495/13_h14iht.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758223498/15_kzwbou.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758222989/4_aztq4v.jpg",
        alt: "",
      },
    ],
  },
  //Joga House
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756483047/IMG_2844_v2vnrl.jpg",
    alt: "Commercial",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Joga House - Boutique Yoga Studio</h2><p>Interior design for Joga House, crafted to inspire calm, focus, and balance.</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757294294/IMG_2845_j38jsw.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295616/IMG_2746_ufcddc.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295624/IMG_2750_qsilfc.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295608/IMG_2744_ij7wzr.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295598/IMG_2876_dycbtt.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295640/IMG_2846_vjv9ji.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295631/IMG_2827_asb6lb.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757294792/IMG_5571_xoem6p.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295679/IMG_2748_kkqtbw.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295655/IMG_2832_nli0bo.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295703/IMG_5324_iybcy7.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295687/IMG_2755_i0swe7.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757295291/IMG_5356_kuo2o4.jpg",
        alt: "",
      },
    ],
  },
  //Niagra
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1757605652/IMG_2630_rr2xpn.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Niagara</h2><p>Full home decoration project — featuring modern interiors, artistic wall displays, and a seamless open-concept design.</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757605649/IMG_2629_h3e8nf.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757605654/IMG_2649_hxjesu.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757605657/IMG_2750_jlrtmc.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757605660/IMG_2765_rhnmo7.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757605666/IMG_2769_ys0buq.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757605786/FullSizeRender_kfv5xd.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757605862/FullSizeRender_1_t2k2rd.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757605896/FullSizeRender_2_do1mnc.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757606048/FullSizeRender_4_lsgayw.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757606051/FullSizeRender_5_i0iqc9.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757606143/FullSizeRender_9_ncmpcx.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757606054/FullSizeRender_7_sgwal2.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757606352/FullSizeRender_11_adhaub.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757606996/IMG_2109_qbkbgz.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757607000/IMG_2620_xicim2.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758034347/IMG_2656_jtee9c.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758034425/IMG_2657_i81but.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758034501/IMG_2658_mzhoba.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758034579/IMG_2662_baxmzk.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758034655/IMG_2663_kctf1q.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758034732/IMG_2664_pj5bza.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758034808/FullSizeRender_pncfal.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758034883/FullSizeRender1_oqehup.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758034959/FullSizeRender2_qbzt5f.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758035036/FullSizeRender3_kglplt.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758035266/FullSizeRender6_rudvwi.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758035267/FullSizeRender7_i5wkxv.jpg",
        alt: "",
      },
    ],
  },
  //port credit
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556568/IMG_6413_x73et7.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Port Credit</h2><p>Full home decoration project in Port Credit — blending style, comfort, and timeless design.</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1756489522/IMG_6404_y2cqux.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556570/IMG_6392_ohiiym.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556573/IMG_6394_tqs4ns.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556566/IMG_6409_pw3xdk.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556564/IMG_6393_asfwqx.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556560/IMG_6390_rnefcv.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556557/IMG_6142_maafcq.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556546/IMG_6411_pfiz37.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556544/IMG_6410_mzff3n.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556577/IMG_6396_au6w3z.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556579/IMG_6397_cvw26v.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556575/IMG_6395_alq9dn.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556586/IMG_6401_whyy3s.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556581/IMG_6398_am9o3d.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556612/IMG_6407_kjskqp.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556610/IMG_6406_gh64aa.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556595/IMG_5337_molfmj.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556593/IMG_5977_fcxtsz.png",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556599/IMG_6400_uiijcx.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757556588/IMG_5295_arb1tq.jpg",
        alt: "",
      },
    ],
  },
  //Forest Hill
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756490122/IMG_3279_n94j7o.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Forest Hill</h2><p>Full home decoration project in Forest Hill — blending style, comfort, and timeless design.</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757597916/IMG_3277_aqq8un.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757597913/IMG_3283_hey8du.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757597914/IMG_3276_qw4cqz.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757597912/IMG_3280_fb5ny4.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757597918/IMG_3279_oswvh6.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758851944/IMG_7973._zho5xc.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758852198/IMG_0278._qutoor.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758852024/IMG_7980._no81ai.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758852204/IMG_1872._fzowvp.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758852177/IMG_7994._vqlbuc.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758851819/IMG_7966._e9r1go.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758852212/IMG_7960._hda7ym.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758852201/IMG_0279._scapew.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758851912/IMG_7967._a4cujx.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758851816/IMG_7963._oqlor6.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758851814/IMG_7962._bkbipx.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758852206/IMG_2521._ucyg6k.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758852209/IMG_6250._yuxt71.jpg",
        alt: "",
      },
    ],
  },
  //L8
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1758224353/WhatsApp_Image_2025-09-18_at_2.55.00_PM_vf0c8o.jpg",
    alt: "Commercial",
    detail:
      '<h2 class="text-xl font-semibold mb-2">L8 Night Club & Lounge</h2><p>L8 Night Club & lounge — blending clean lines, statement lighting, and cozy fireplace accents.</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757602287/IMG_3247_givvkh.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757602271/IMG_3236_pqwud8.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757602289/IMG_5465_jqnlrp.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757602128/IMG_3235_pmat2r.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757602004/IMG_3014_qaaa8j.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757601646/IMG_2883_m5nfvy.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758932201/IMG_2868_fshqso_a_-90_a6ey7p.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757601786/IMG_2903_kdvqjo.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757601929/IMG_2907_sf58b0.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757602330/IMG_2860_zynily.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757602292/IMG_5508_xtatta.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1756490298/IMG_3227_1_nwlpua.jpg",
        alt: "",
      },
    ],
  },

  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1758820819/IMG_1101_bdpiaz.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Borden </h2><p>Full House project — refined, comfortable, and timeless.</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758820818/IMG_5100_eg6un5_v6txdt.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758820818/IMG_5110_rmjbel_t5no0m.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757613346/IMG_5098_jambmx.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757613342/IMG_5096_rrwl9o.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757613338/IMG_5094_bnxw7n.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758467389/IMG_5093._abuaad.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758467390/IMG_5099._1_lcwjce.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758467389/IMG_5071._umavmp.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758467391/IMG_5102._z8dcvr.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758467400/IMG_5113._w4xg9w.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758467398/IMG_5103._dklsah.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757612713/IMG_5071_lux58b.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757612711/IMG_5069_nvdhcp.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757612708/IMG_5068_owxxpc.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757612700/IMG_5064_wphyqn.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757612702/IMG_5065_gybpje.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757612697/IMG_5063_x2tcvs.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757612694/IMG_5062_xwyfch.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757612691/IMG_5061_adesgd.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757613334/IMG_5083_eqyg2i.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757613331/IMG_5082_zkkfej.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757613327/IMG_5081_l4obhh.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1757613323/IMG_5077_nuoxjf.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758820819/IMG_0436_p4odrp.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758820818/IMG_5100_eg6un5_v6txdt.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758820818/FullSizeRender_k2qtmi.jpg",
        alt: "",
      },
    ],
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853593/IMG_0393_offdfs.jpg",
    alt: "Commercial",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Oh Boy Burger Market  </h2><p>Burger Restaurant</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853439/IMG_0392_kqvpoj.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853423/IMG_0345_qrcnjf.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853589/IMG_0392_cgeilr.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853549/IMG_2824_xv5luw.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853546/IMG_2823_xmpueo.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853553/IMG_2825_vafdrz.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853563/IMG_2822_r27ecj.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853573/IMG_0343_f8u868.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853615/IMG_0334_rdtnfv.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853556/IMG_0334_dmec7k.jpg",
        alt: "",
      },

      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853420/IMG_0344_mhi5tf.jpg",
        alt: "",
      },

      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853436/IMG_0390_iz9ttb.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853427/IMG_0347_lywd5v.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853596/IMG_0394_k3cqjg.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853581/IMG_0387_a8xgto.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758853577/IMG_0386_wo0moa.jpg",
        alt: "",
      },
    ],
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856205/IMG_0426_jb9q39.jpg",
    alt: "Commercial",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Dominican Bar</h2><p>Bar</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856209/IMG_0428_ma360j.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856214/IMG_0429_vxenav.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856201/IMG_0417_npuzdh.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856197/IMG_0416_ydny71.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856193/IMG_0413_besowx.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856182/IMG_0296_yyu10r.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856179/IMG_0293_gkzgme.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856175/IMG_0292_y7imxh.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856172/IMG_0291_fqifp3.jpg",
        alt: "",
      },

      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856222/IMG_0283_ajhru9.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758932428/IMG_0282_crbfiy_a_-90_hcaqs1.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758856189/IMG_0403_aegbw5.jpg",
        alt: "",
      },
    ],
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1758857382/thumbnail_zrofgh.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Brant St. Condo</h2><p>Condo</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758857368/IMG_6794_e7kbr9.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758857363/IMG_6793_kf6kpv.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758857373/IMG_6792_c2rtoz.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758857387/IMG_6791_qjknev.jpg",
        alt: "",
      },

      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758857359/IMG_6795_zdjvbo.jpg",
        alt: "",
      },
    ],
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896575/IMG_0241_uvofua.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Trafalger</h2><p>Full home decoration project</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896312/IMG_4066_ycsajq.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896035/IMG_3799_vrekeu.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896034/IMG_3772_ax1oyc.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896036/IMG_3800_ntiwg0.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896050/IMG_3904_bjhcny.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896043/IMG_3839_ky3o1g.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896248/IMG_3994_tsgs55.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896430/IMG_4236_ixurte.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896532/IMG_4432_afem1r.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896557/IMG_4433_iheqbv.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896559/IMG_4435_ajvgxq.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896563/IMG_4436_cc8loy.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896567/IMG_0237_bl9cfe.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896577/IMG_3608_iavgf4.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758896570/IMG_0238_akflfh.jpg",
        alt: "",
      },
    ],
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1758898249/IMG_0244_jxkqk2.jpg",
    alt: "Comercial",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Spearhead Brewery./h2><p>Bar</p>',
    gallery: [
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758898246/IMG_0243_f7uqgu.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758898244/IMG_0242_ixx3vq.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758898241/IMG_0240_u7hmwk.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758898241/IMG_0240_u7hmwk.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758898236/IMG_0257_g8vrsx.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758898233/IMG_0256_pmy9oj.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758898228/IMG_0247_ggndxe.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758898225/IMG_0246_uqeexg.jpg",
        alt: "",
      },
      {
        src: "https://res.cloudinary.com/didltutgq/image/upload/v1758898223/IMG_0245_d6ryre.jpg",
        alt: "",
      },
    ],
  },
];
---

<Layout preloadHeroSrc={heroFast}>
  <Hero
    title="Where Vision Meets Elegance"
    subtitle="For over two decades, I’ve been crafting interiors that balance sophistication, comfort, and individuality—delivering spaces that leave a lasting impression."
    ctaText="Book a Consultation"
    ctaLink="/contact"
    imageUrl="https://res.cloudinary.com/didltutgq/image/upload/v1757213867/Raymar_Cleaned_fyurl7.jpg"
  />

  <HeroVideo src={VIDEO_MP4} poster={POSTER_IMG} />

  <!-- The project grid + modal carousel -->
  <ImageCarousel images={images} title="The Collection." />
  <HeroShowcase
    imageSrc="https://res.cloudinary.com/didltutgq/image/upload/v1757261610/ray_ai_enhance_jwix40.png"
    imageAlt=""
    headline="Good rooms are not decorated"
    accent="they are edited."
    copy="We remove the noise until what remains feels inevitable.” "
    name="Jonathan F."
    title="Principal / Founder"
    ctaLabel="Learn More"
    ctaHref="/about"
  />
</Layout>
