---
export interface Props {
  src: string;
  poster?: string;
}
const { src, poster } = Astro.props;

function transform(url?: string, q = "q_auto:eco", w = 1600) {
  if (!url) return undefined;
  return `${url}${url.includes("?") ? "&" : "?"}f_auto&${q}&w=${w}&dpr=auto`;
}
---

<section class="mx-auto max-w-6xl px-4 py-8">
  <div class="rounded-2xl overflow-hidden border">
    <video
      poster={transform(poster)}
      preload="none"
      controls
      playsinline
      
      class="w-full h-auto"
    >
      <source src={src} type="video/mp4" />
    </video>
  </div>
</section>
